@import "compass/css3";

* {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}
.gallery-am {
    width: 1024px;
    margin: 20px auto 0;

    ul {
        font-size: 0;

        li {
            display: inline-block;
            width: 125px;
            height: 125px;
            margin: 0 10px 20px;
            overflow: hidden;
            cursor: pointer;

            img {
                @include transition(transform 0.4s);
            }
            &:hover img {
                @include scale(1.1);
            }
        }
    }
}