/* line 3, sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* line 13, sass/style.scss */
button {
  cursor: pointer;
}

/* line 16, sass/style.scss */
.wrapper-am {
  overflow: hidden;
}
/* line 19, sass/style.scss */
.wrapper-am .slide-wrapper-am {
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  height: 100%;
  overflow: hidden;
}
/* line 24, sass/style.scss */
.wrapper-am .slide-wrapper-am > ul
, .wrapper-am .slide-wrapper-am > li {
  float: left;
  height: 100%;
}

/* line 31, sass/style.scss */
.gallery-am {
  width: 100%;
  max-width: 875px;
  margin: 20px auto 0;
}
/* line 36, sass/style.scss */
.gallery-am .show-image-am {
  width: 100%;
  max-width: 800px;
  height: 530px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 44, sass/style.scss */
.gallery-am .show-image-am.loading:before
, .gallery-am .show-image-am img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* line 54, sass/style.scss */
.gallery-am .show-image-am.loading:before {
  content: '';
  background-image: url('../images/loading.gif?1460750670');
  width: 62px;
  height: 62px;
  z-index: 3;
}
/* line 61, sass/style.scss */
.gallery-am .show-image-am img {
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
}
/* line 67, sass/style.scss */
.gallery-am .show-image-am.hide img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 71, sass/style.scss */
.gallery-am .list-am {
  margin-top: 40px;
  overflow: hidden;
}
/* line 75, sass/style.scss */
.gallery-am .list-am .slide-wrapper-am {
  padding: 10px 0;
}
/* line 79, sass/style.scss */
.gallery-am .list-am .nav-pag-am {
  font-size: 0;
  text-align: center;
}
/* line 83, sass/style.scss */
.gallery-am .list-am .nav-pag-am ul
, .gallery-am .list-am .nav-pag-am > button {
  display: inline-block;
  vertical-align: top;
}
/* line 89, sass/style.scss */
.gallery-am .list-am .nav-pag-am .nav-am.prev-am
, .gallery-am .list-am .nav-pag-am .nav-am.next-am {
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
/* line 97, sass/style.scss */
.gallery-am .list-am .nav-pag-am .nav-am.prev-am {
  border-right: 14px solid #666;
}
/* line 100, sass/style.scss */
.gallery-am .list-am .nav-pag-am .nav-am.next-am {
  border-left: 14px solid #666;
}
/* line 104, sass/style.scss */
.gallery-am .list-am .nav-pag-am ul {
  margin: 0 10px 10px;
}
/* line 107, sass/style.scss */
.gallery-am .list-am .nav-pag-am ul li {
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  display: inline-block;
  margin-left: 5px;
}
/* line 112, sass/style.scss */
.gallery-am .list-am .nav-pag-am ul li:first-child {
  margin-left: 0;
}
/* line 115, sass/style.scss */
.gallery-am .list-am .nav-pag-am ul li.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 118, sass/style.scss */
.gallery-am .list-am .nav-pag-am ul li button {
  color: #666;
  font-size: 16px;
  padding: 5px;
}
/* line 127, sass/style.scss */
.gallery-am .list-am ul {
  font-size: 0;
  text-align: center;
}
/* line 131, sass/style.scss */
.gallery-am .list-am ul .item-am {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  background: #000;
  display: inline-block;
  width: 125px;
  height: 125px;
  margin: 0 10px 20px;
  overflow: hidden;
  cursor: pointer;
}
/* line 142, sass/style.scss */
.gallery-am .list-am ul .item-am:hover {
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 145, sass/style.scss */
.gallery-am .list-am ul .item-am img {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 149, sass/style.scss */
.gallery-am .list-am ul .item-am.active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 154, sass/style.scss */
.gallery-am .list-am ul:hover .item-am {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 157, sass/style.scss */
.gallery-am .list-am ul:hover .item-am:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 167, sass/style.scss */
.carousel-am {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 175, sass/style.scss */
.carousel-am.active {
  visibility: visible;
}
/* line 178, sass/style.scss */
.carousel-am.active .wrapper-am {
  -moz-transform: rotate3d(0, 0, 0, 0);
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
}
/* line 181, sass/style.scss */
.carousel-am.active .wrapper-am .slide-wrapper-am {
  display: block;
}
/* line 186, sass/style.scss */
.carousel-am:before
, .carousel-am .wrapper-am {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 192, sass/style.scss */
.carousel-am:before {
  background: rgba(0, 0, 0, 0.6);
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 199, sass/style.scss */
.carousel-am .nav-am {
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100px;
  height: 100px;
  margin: auto 0;
}
/* line 209, sass/style.scss */
.carousel-am .nav-am:before {
  -moz-box-shadow: 0, 0, 3px, rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0, 0, 3px, rgba(0, 0, 0, 0.6);
  box-shadow: 0, 0, 3px, rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
/* line 223, sass/style.scss */
.carousel-am .nav-am.prev-am {
  left: 20px;
}
/* line 226, sass/style.scss */
.carousel-am .nav-am.prev-am:before {
  border-right: 25px solid #fff;
}
/* line 230, sass/style.scss */
.carousel-am .nav-am.next-am {
  right: 20px;
}
/* line 233, sass/style.scss */
.carousel-am .nav-am.next-am:before {
  border-left: 25px solid #fff;
}
/* line 238, sass/style.scss */
.carousel-am .wrapper-am {
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -moz-transform: rotate3d(1, 1, 0, 90deg);
  -webkit-transform: rotate3d(1, 1, 0, 90deg);
  transform: rotate3d(1, 1, 0, 90deg);
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 80%;
  max-width: 1024px;
  height: 768px;
  margin: auto;
}
/* line 249, sass/style.scss */
.carousel-am .wrapper-am .slide-wrapper-am {
  display: none;
}
/* line 252, sass/style.scss */
.carousel-am .wrapper-am .slide-wrapper-am li {
  position: relative;
}
/* line 255, sass/style.scss */
.carousel-am .wrapper-am .slide-wrapper-am li img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
/* line 269, sass/style.scss */
.carousel-am .close-carousel-am {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: border 0.4s;
  -o-transition: border 0.4s;
  -webkit-transition: border 0.4s;
  transition: border 0.4s;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: solid 2px transparent;
}
/* line 279, sass/style.scss */
.carousel-am .close-carousel-am:before
, .carousel-am .close-carousel-am:after {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  content: '';
  background: #fff;
  width: 25px;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 294, sass/style.scss */
.carousel-am .close-carousel-am:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 297, sass/style.scss */
.carousel-am .close-carousel-am:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 300, sass/style.scss */
.carousel-am .close-carousel-am:hover {
  border-color: #fff;
}
